body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: rgb(137, 186, 206);
  color: rgb(65, 75, 65);
}

li {
  text-align: left;
}

.jumbotron, .panel {
  border: 4px solid rgb(194, 97, 97);
  background-color: rgb(243, 250, 177);
}

.jumbotron {
  font-weight: bolder;
  font-size: 3em;
}

.panel {
  font-size: 1.3em;
  padding: 5%;
}

.panel > .panel-heading {
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgb(243, 250, 177);
  color: rgb(65, 75, 65);
}

.panel-body {
  border: 4px solid rgb(194, 97, 97);
  background-color: rgb(254, 255, 241);
  padding-right: 10%;
  padding-left: 10%;
  color: rgb(65, 75, 65);
  font-size: 1em;
}

.btn {
  border: 3px solid rgb(154, 202, 154);
  font-size: 1em;
  background-color: rgb(254, 255, 241);
}

.btn:hover {
  border: 3px solid rgb(65, 75, 65);
  background-color: rgb(154, 202, 154);
  color: rgb(254, 255, 241);
}

ul {
  list-style-type: none;
  text-align: left;
}

.results {
  display: none;
}