body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: rgb(137, 186, 206);
  color: rgb(65, 75, 65);
}

.jumbotron, .panel {
  border: 4px solid rgb(194, 97, 97);
  background-color: rgb(243, 250, 177);
}

.jumbotron {
  font-size: 3em;
}

.panel {
  font-size: 1.3em;
  padding: 5%;
}

.btn {
  border: 3px solid rgb(194, 144, 97);
  font-size: 1em;
  background-color: rgb(154, 202, 154);
}

.btn:hover {
  border: 3px solid rgb(154, 202, 154);
  background-color: rgb(224, 164, 164);
  color: rgb(231, 249, 255);
}

ul {
  list-style-type: none;
  text-align: left;
}

.results {
  display: none;
}